.botones {
    width: 60px;
}

.boton2 {
    width: 100px;
}

.boton_igual {
    height: 100px;
}

.ancho_total {
    width: 300px;
}

.ancho_3botones {
  width: 225px;
}

.botones_chicos {
    width: 75px;
    height: 75px;
}

.boton_grande {
    width: 75px;
    height: 150px;
}

.marcar {
    z-index: 2;
}

.desmarcar {
    z-index: 1;
}